<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--layout:decorate -> 만들 것을 사용할 때 사용-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>아이템 상세 페이지</title>


    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

     <!--제이쿼리-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>


    <!--<link rel="stylesheet" href="@{/css/ ">-->
   <!-- <script th:src="@{/js/jquery-1.11.1.js}"></script>-->

</head>

<body>

    <header class="header" id="hd">
        <div th:insert="~{layout/header :: header}"></div>
    </header>

    <br> <!-- ---------------------------------------------------------------  -->



    <div class="contents" style="clear:both;width:100%;padding-top:100px;">
        <div class="splash-container" style="clear:both;padding:40px;padding-top:150px;">
            <h2 style="border-bottom:2px solid #333;" class="title">아이템 상세 보기</h2>

            <article>
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label for="id" th:text="아이템 ID"></label></th>
                            <td><input type="text" id="id" name="id" th:value="${item.id}" readonly><br></td>
                        </tr>
                        <tr>
                            <th><label for="itemName" th:text="아이템 이름"></label></th>
                            <td><input type="text" id="itemName" name="itemName" th:value="${item.itemName}" readonly><br></td>
                        </tr>
                        <tr>
                            <th><label for="price" th:text="가격"></label></th>
                            <td><input type="text" id="price" name="price" th:value="${item.price}" readonly><br></td>
                        </tr><tr>
                            <th><label for="quantity" th:text="수량"></label></th>
                            <td><input type="text" id="quantity" name="quantity" th:value="${item.quantity}" readonly><br></td>
                        </tr>

                    <tr>
                        <td colspan="2">
                            <button type="button" class="button" th:onclick="|location.href='@{/item/update/itemId=${itemId}}'|"> 상품 수정 </button>
                            <button type="button" class="button" th:onclick="|location.href='@{/item/update/items'|"> 상품 목록 </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </article>







    <br> <!-- ---------------------------------------------------------------  -->

    <footer class="footer" id="ft">
        <div th:insert="~{layout/footer :: footer}"></div>
    </footer>


    <script th:inline="javascript">

            function inputData() {
                var book = $("#form").serialize();
                $.ajax({
                    url: "/ex/test5",
                    data: book,
                    type: "POST",
                    cache: false
                }).done(function (fragment) {
                    if ($(fragment).find($("#form").length > 0)) {
                        $("#form").replaceWith(fragment);
                    } else {
                        $("#list").replaceWith(fragment);
                        $("input[type=text]").val("");
                        $(".err").text("");
                    }
                });
            }

    </script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>