<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ChatRoomMapper">

    <select id="chatRoomList" resultType="com.shop.domain.ChatRoom">
        select * from chatRoom
    </select>

    <select id="chatRoomListProduct" resultType="com.shop.domain.ChatRoom">
        select * from chatRoom where pno = #{pno} and status!='BLOCK'
    </select>

    <select id="chatRoomGet" resultType="com.shop.domain.ChatRoom">
        select * from chatRoom where roomId = #{roomId}
    </select>

    <select id="chatRoomGetId" resultType="com.shop.domain.ChatRoom">
        select * from chatRoom where roomId = #{roomId} and pno = #{pno}
    </select>

    <insert id="chatRoomAdd">
        insert into chatRoom(userId, pno) values (#{userId}, #{pno})
    </insert>

    <update id="chatRoomUpdate">
        update chatRoom set status='BLOCK' where roomId=#{roomId}
    </update>

    <delete id="chatRoomDelete">
        delete from chatRoom where roomId=#{roomId}
    </delete>

</mapper>