<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">

    <select id="findAll" resultType="com.shop.domain.Product">
        select * from product order by resdate desc
    </select>

    <select id="getProduct" resultType="com.shop.domain.Product">
        select * from product where pno = #{pno}
    </select>

    <select id="findByPno" resultType="com.shop.domain.Product">
        select * from product where pno = #{pno}
    </select>


    <select id="findByUserId" resultType="com.shop.domain.Product">
        select * from product where seller = #{seller} order by resdate desc
    </select>


    <insert id="save">
        insert into product values (default, #{cateno}, #{pname},#{pcomment}, #{price}, #{seller} , #{quantity}, #{quality}, default, #{imgsrc1},#{imgsrc2}, #{imgsrc3},#{imgsrc4},  default  )
    </insert>


    <select id="getLatestproduct" resultType="com.shop.domain.Product">
        select * from product order by id desc limit 0,1
    </select>


    <update id ="updateProduct">
      UPDATE product SET cateno=#{cateno}, pname=#{pname}, pcomment=#{pcomment}, price=#{price}, quantity=#{quantity}, quality=#{quality}, imgsrc1=#{imgsrc1}, imgsrc2=#{imgsrc2}, imgsrc3=#{imgsrc3}, imgsrc4=#{imgsrc4} WHERE pno=#{pno}
    </update>

    <delete id="deleteProduct">
        delete from product where pno = #{pno}
    </delete>




</mapper>

