<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.UserMapper">
    <insert id="userInsert">
        insert into user values (DEFAULT, #{userId}, #{userName}, #{password}, default, #{email}, #{postcode}, #{addr1}, #{addr2}, #{tel}, default, DEFAULT)
    </insert>
    <select id="getUserList" resultType="com.shop.domain.User">
        select * from user
    </select>
    <select id="findById" resultType="com.shop.domain.User">
        select * from user where id = #{id}
    </select>
    <select id="findByUserId" resultType="com.shop.domain.User">
        select * from user where userId = #{userId}
    </select>
    <select id="findByEmail" resultType="com.shop.domain.User">
        select * from user where email = #{email}
    </select>
    <select id="getLatestUser" resultType="com.shop.domain.User">
        select * from user order by id desc limit 0,1
    </select>
    <update id="userEdit">
        update user set userName=#{userName}, password=#{password}, email=#{email}, postcode=#{postcode}, addr1=#{addr1},addr2=#{addr2} ,tel=#{tel} where id=#{id}
    </update>
    <insert id="setUserRole">
        insert into userRole values (#{id}, #{roleId})
    </insert>
    <select id="getUserRole">
        select * from userRole where id = #{id}
    </select>
    <select id="getRole">
        select * from role where roleId=#{roleId}
    </select>
    <select id="getByuserId" resultType="com.shop.domain.User">
        select * from user where userId=#{userId}
    </select>
    <update id="userDelete">
        update user set active=#{active} where id=#{id}
    </update>
    <select id="idDupCheck" resultType="int">
        select count(*) from user where userId = #{userId}
    </select>
    <!-- 권한 변경 -->
    <update id="editUserRole">
        update userRole set roleId=#{roleId} where id=#{id}
    </update>
</mapper>
