<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head th:replace="~{layout/head.html :: head}">

        <title>나의채팅방</title>
        <style>
            .chat-box-sender {
                text-align: left !important;
                font-size: 24px!important;
            }

            .chat-box-receiver {
                text-align: right;
                font-size: 24px;
            }

            .chat-time {
                display: inline;
                margin-left: 10px;
                color: gray;
                font-size: 10px;
            }
            .close-tag {
                color: inherit;
            }
            .chat-message-me {
                border-radius: 15px; background-color: green; float: right; width: fit-content; max-width: 450px;
            }
            .chat-message-me p {
                color: white;
            }
            .chat-message-other{
                border-radius: 15px; background-color: rgba(57, 192, 237,.2); max-width: 450px;
            }
            .chat-message{
                white-space: pre-wrap;
            }
        </style>
    </head>
<body>
<div th:insert="~{layout/header :: header}"></div>
<div class="container contents">
    <h1>채팅하기</h1>
    <div class="container">
        <div class="row">
            <div id="chatRoom" class="col-6">
                <section>
                    <div class="container py-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <div class="card" style="border-radius: 15px;">
                                    <div class="card-header d-flex justify-content-center align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                        <p class="mb-0 fw-bold" id="roomName" th:text="${roomName}" />
                                        <input type="hidden" id="roomNo" th:value="${room.roomNo}">
                                    </div>
                                    <div class="card-body">
                                        <div id="msgArea" style="height: 500px; overflow-y: auto;">
                                            <th:block th:each="c : ${chats}">
                                                <div class="d-flex flex-row justify-content-end mb-4" th:if="${c.sender eq roomName}">
                                                    <div class="chat-box-sender">
                                                        <div class="chat-author m-0 p-1" th:text="${c.sender}"><p class="chat-time" th:text="${c.time}" /></div>
                                                        <div class="p-3 chat-message-me">
                                                            <p class="chat-message small mb-0" th:text="${c.message}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-start mb-4" th:if="${c.sender != roomName}">
                                                    <div class="chat-box-receiver">
                                                        <div class="chat-author m-0 p-1" th:text="${c.sender}"><p class="chat-time" th:text="${c.time}" /></div>
                                                        <div class="p-3 chat-message-other">
                                                            <p class="chat-message small mb-0" th:text="${c.message}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>

                                        <textarea class="form-control" id="chat-input" placeholder="Type Your message and Enter" aria-label="chat input" rows="3"></textarea>
                                        <div class="d-flex justify-content-end mt-2"><button class="btn btn-primary" id="chat-send">Send</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>


<script th:inline="javascript">
    let roomNo = /*[[${room.roomNo}]]*/ 'default';
    let roomName = /*[[${roomName}]]*/ 'default';

    let ws;

    // 사용자 이름 설정. session에 저장된 이름
    let username = /*[[${userId}]]*/ 'default';
    console.log(username)
    if (username === "null") {
        username = "guest";
    }


    // 자동 스크롤 함수
    function scrollToBottom() {
        var chatDiv = document.getElementById("msgArea");
        chatDiv.scrollTop = chatDiv.scrollHeight;
    }

    // Ctrl 에서 ObjectMapper 를 사용하여 ChatMessage 형태로 바꾸므로, chat 필드를 가진 json 으로 만들어 보내기
    function makeChat(chatNo, type, room, username, message){
        var currentTime = new Date();
        var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
        var time = new Intl.DateTimeFormat('ko-KR', options).format(currentTime);

        let chat = {
            "chatNo": chatNo,
            "receiver": roomName,
            "type": type,
            "roomNo": room,
            "sender": username,
            "message": message,
            "time": time
        };

        var jsonstr = JSON.stringify(chat)
        console.log(jsonstr);
        return jsonstr;
    }

    function send(jsonstr){
        ws.send(jsonstr);
        console.log(jsonstr);
    }

    $(document).ready(function(){
        ws = new WebSocket("ws://"+location.host+"/socket?roomNo="+roomNo);

        ws.onopen = function(e){ // 연결 시 실행
            /*var str = username + "님이 입장하셨습니다.";
            send(makeChat("ENTER", roomNo, username, str));*/
            // console.log("info : connection opened.");
            console.log(username + "님이 입장하셨습니다.");
        }

        ws.onmessage = function(response){ // 서버로부터 메세지를 받았을 때 실행
            console.log("message");

            $.ajax({
                type: "POST",
                url: "/chat/readChat",
                data: {message: response.data, user: username},
                success: function (data) {
                }
            });

            var msg = JSON.parse(response.data);

            if(msg.roomNo===roomNo){
                let newMsg = ``;

                if(msg.type==="TALK"){
                    // 일반 대화
                    if(msg.sender===username){
                        newMsg = `<div class="d-flex flex-row justify-content-end mb-4">
                                                        <div class="chat-box text-end">
                                                            <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                            <div class="p-3 chat-message-me">
                                                                <p class="chat-message small mb-0">${msg.message}</p>
                                                            </div>
                                                        </div>
                                                    </div>`;
                    } else{
                        newMsg = `<div class="d-flex flex-row justify-content-start mb-4">
                                                        <div class="chat-box">
                                                            <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                            <div class="p-3 chat-message-other">
                                                                <p class="chat-message small mb-0">${msg.message}</p>
                                                            </div>
                                                        </div>
                                                    </div>`;
                    }

                } else {
                    // 입장, 퇴장 알림
                    newMsg = `<div class="d-flex flex-row justify-content-center mb-4"><div class="chat-box">${msg.message}</div></div>`
                }

                $("#msgArea").append(newMsg);
                scrollToBottom();

            }
        }

        ws.onclose = function(e){ // 연결 종료 시 실행
            console.log("info : connection closed");
        };

        ws.onerror = function(e){
            console.log("error")
            console.log(e);
        };
    })


    $("#chat-send").on("click", function() {
        let msg = $("#chat-input").val();

        if(msg===""){
            return false;
        } else {
            // 일단 데이터베이스 채팅 저장
            var jsonstr = makeChat(0, "TALK", roomNo, username, msg);
            // ws.send(jsonstr);
            $.ajax({
                type: "POST",
                url: "/chat/insertChat",
                data: {message: jsonstr},
                success: function (response) {
                    // 데이터베이스에 채팅이 제대로 저장된 경우에만 send
                    // 삭제를 하고 싶어서. chatNo가 필요.
                    send(makeChat(response.chatNo, "TALK", roomNo, username, msg));
                },
                error: function(error){
                    console.log(error);
                }
            });
        }

        $("#chat-input").val("");
    });


    window.addEventListener('beforeunload', async function (e) {
        await closeRoom();
        // 페이지를 떠날 때 실행할 함수
    });
</script>
</html>